@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="welf"] {
  @import "../themes/welf.css";
}

[data-theme="propchain"] {
  @import "../themes/propchain.css";
}

body {
  color: var(--foreground-default);
  background: var(--background-weaker);
  font-family: var(--font-inter);
}
