@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../themes/welf.css";
/* @import "../themes/propchain.css"; */

body {
  color: var(--foreground-default);
  background: var(--background-dark);
  font-family: var(--font-inter);
}
